# WK1 pandas Basics <hr style="border:2.5px solid #126782" ></hr>

Name: **Alessandra P. Blanco** <br>
Course: **CPE2A**

pandas - derived from **Panel Data**

Import **pandas** and **numpy** library

In [32]:
import pandas as pd
import numpy as np

Check the **version** of pandas

In [33]:
pd.__version__

'2.2.3'

# Creating Series Object

Create a **list** named **employee_names**

In [50]:
employee_names = ['Ammy White','Jack Stewart','Richard Lauderdale','Sarah Johnson']
employee_names

['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']

Verify that the data type of *employee_names* object is a **list**

In [35]:
type(employee_names)

list

Create **pandas Series object** named **employee_names_Series** containing the elements from the *employees_names* list

In [36]:
employee_names_series = pd.Series(employee_names)
employee_names_series

0            Ammy White
1          Jack Stewart
2    Richard Lauderdale
3         Sarah Johnson
dtype: object

Verify that the data type of *employee_names_series* object is a **panda Series**

In [37]:
type(employee_names_series)

pandas.core.series.Series

Create a Series object named **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: 5, 8, 3, and 10

In [38]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

# Array to Series

Create a **NumPy Array** object named **array_age**

In [39]:
array_age = np.array([50,53,35,43])
array_age

array([50, 53, 35, 43])

Verify that the data type of array_age object is a **NumPy Array**

In [40]:
type(array_age)

numpy.ndarray

Create a **panda Series** object named **series_age** from array_age

In [41]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

Verify that the data type of *series_age* object is **Series**

In [42]:
type(series_age)

pandas.core.series.Series

Use the **print()** function to display the content of *series_age*

In [43]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int64

# pandas Attributes

Create a **Panda Series** object named **work_experience_years** containing the elements: 5, 8, 3, and 10

In [44]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

Assign letters a, b, c, d as **index** of the *Series*

In [45]:
work_experience_years = pd.Series([5,8,3,10],
index=['a', 'b', 'c', 'd'])
work_experience_years

a     5
b     8
c     3
d    10
dtype: int64

Check the **total numbers of elements** of the *Series*

In [46]:
work_experience_years.size

4

Check the **total number of elements** of the *Series*

In [47]:
work_experience_years.values

array([ 5,  8,  3, 10])

# pandas DataFrames

Create the given example **DataFrame**

Method 1

In [48]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
    "Age":[50, 53, 35, 43],
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [49]:
name = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
age = [50, 53, 35, 43]
work_exp = [5,8,3,10]

df = pd.DataFrame({
    "Name":name,
    "Age":age,
    "Working Experience (Yrs.)":work_exp
})
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10